# Cloud connection
QUEUECONNECTION=
STORAGECONNECTION=
AUTH_PERMISSION_URL=

# Topic and queue
DATASVC_TOPIC=
UPLOAD_TOPIC=

# Database
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
SSL=

# Application level
PORT=

# Confidence requests
CONF_REQ_TOPIC=
CONF_RES_TOPIC=
CONF_RES_SUB=

# Formatter requests
FORMATTER_SUBSCRIPTION=
FORMATTER_TOPIC=


